#about {
  @include animation(fadeIn .5s ease-in-out);

  img {
    width: 100%;
  }

  h1,
  p {
    margin-bottom: .5em;
  }

  p {
    padding: 0 1em;
  }
}

@media screen and (min-width: 680px) {

  #about {

    img {
      width: 30%;

      float: left;

      margin: 0 1em 1em 0;
    }

  }
}
