@font-face {
  font-family: The Minion;
  font-weight: normal;
  src: url('assets/theminion.otf');
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-family: The Minion;
  color: $black;
}

a {
  color: $black;
}

body {
  width: 90%;
  margin: 0 auto;
}

main {
  height: 100vh;
}

section {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
}

.start {
  p {
    padding: 4rem 0;

    font-size: 3rem;
    text-align: center;

    &:nth-of-type(3) {
      @include fadeIn($duration: 2s, $delay: 4s);

      padding-top:  0;

      cursor: pointer;
    }
  }

  span {
    display: inline-block;

    margin: 0 1rem;

    @include fadeIn($duration: 2s);

    &.start2 {
      @include fadeIn($duration: 1s, $delay: 1s);
    }

    &.start3 {
      @include fadeIn($duration: 1s, $delay: 2s);
    }

    &.start4 {
      @include fadeIn($duration: 1s, $delay: 3s);
    }

    &.left {
      margin-left: 10rem;
    }

    &.right {
      margin-right: 10rem;
    }
  }
}

img {
  @include fadeIn($duration: 1s);
  display: block;
  width: auto;
  max-height: 50vh;

  margin: 0 auto;
}

.left {
  margin-left: 5rem;

  float: left;

  cursor: pointer;
}

.right {
  margin-right: 5rem;

  float: right;

  cursor: pointer;
}

.left,
.right {
  @include transition(font-size .5s ease-in-out);

  &:hover {
    font-size: 3.5rem;
  }
}

.mud {
  p {
    padding: 3rem;

    font-size: 3.5rem;
    text-align: center;

    span {
      @include fadeIn($duration: 2s);
      display: inline-block;

      margin: 0 2rem;

      &.oink1 {
        @include transform(rotate(-25deg));
      }

      &.oink2 {
        @include transform(rotate(-5deg));
        @include fadeIn($duration: 1s, $delay: 1s);
      }

      &.oink3 {
        @include transform(rotate(25deg));
        @include fadeIn($duration: 1s, $delay: 2s);
      }
    }
  }
}

.bacon {
  .hook {
    @include bounceInLeft($duration: 1s);
    width: auto;
    height: 90%;
  }

  .knife {
    @include rotateInDownLeft($duration: 1s, $delay: 1s);
    width: 35%;
    position: absolute;
    left: 0;
  }

  div {
    overflow: auto;
  }

  p {
    @include fadeIn($delay: 1s);
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 7rem;
    text-align: center;
  }
}
